<body class="bg-società">
  <div class="h-screen flex ">
    <div class="lg:w-1/2 h-full flex items-end">
      <div class="lg:h-5/6 lg:w-full lg:px-6 flex items-center">
        <div class="lg:h-5/6 lg:w-full lg:text-xs  2xl:text-lg space-y-6 lg:px-10">
          <p>La società è certificata UNI EN ISO 9001:2008 da TUV CERT.</p>
          <p>
            STEA Progetto è una società ESCO e come tale opera nel settore
            energetico per conto proprio e per conto terzo, facendo propria la
            missione del risparmio energetico e della rendicontazione dello
            stesso.
          </p>
          <p>La società è certificata UNI CEI 11352:2014 da BUREAU VERITAS.</p>
          <p>
            Il Direttore Tecnico possiede la certificazione di EGE “Esperto in
            Gestione dell’Energia” in conformità alla norma UNI CEI 11339:2009 –
            settore Civile e Industriale – certificato n. 16-03261
          </p>
          <p>
            La Società risulta socia del Consorzio Habitech (Distretto
            Tecnologico Trentino) che ha come obbiettivi:
          </p>
          <p>
            1: Catalizzare l’innovazione secondo una logica di rete: il
            Distretto Energia Ambiente promuove l’interazione tra mondo della
            ricerca e mondo delle imprese, per il consolidamento di una economia
            della conoscenza e favorisce l’insediamento sul territorio di
            imprese innovative operanti nei settori di pertinenza del Distretto.
          </p>
          <p>
            2: Sviluppare innovazione tecnologica spendibile sui mercati:
            Habitech si propone di generare un circuito virtuoso di innovazione
            tecnologica di prodotto e di processo, a partire dalla costruzione
            di standard più avanzati, fino alla progettazione di percorsi
            formativi per i tecnici delle imprese e favorisce la consapevolezza
            dei consumatori e, in particolare, la crescita di un mercato del
            “comfort abitativo sostenibile”.
          </p>
          <p>
            3: Produrre benefici tangibili sul territorio: intende accelerare
            l’adozione di un modello di business basato sull’integrazione di
            edilizia sostenibile, gestione intelligente del territorio ed
            energie rinnovabili.
          </p>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 h-full">
      <div class="h-1/2 w-full bg-yellow-100">
        <img
          src="assets/img/home/img30.jpg"
          alt=""
          class="lg:h-full lg:w-full lg:object-cover"
        />
      </div>

      <div class="lg:h-1/2 lg:w-full  lg:px-6 flex items-center 2xl:text-base lg:text-sm">
        <p>
          Il distretto tecnologico e il progetto di fare del Trentino un polo di
          eccellenza nel settore delle tecnologie sostenibili hanno raccolto
          attorno a sé la convinta adesione di istituzioni ed enti pubblici e di
          oltre 150 soggetti privati (imprese, gruppi e consorzi che
          rappresentano circa 300 operatori e 8.000 addetti).I principi cardine
          del Distretto Energia Ambiente sono condivisi dal sistema trentino nel
          suo insieme. A fianco delle imprese, infatti, sono attivi nel
          Distretto la Provincia Autonoma di Trento, l’Università di Trento,
          l’Istituto Agrario San Michele all’Adige, il laboratorio IRST della
          Fondazione Bruno Kessler, l’Istituto per la valorizzazione delle
          risorse forestali del CNR (IVALSA), Trentino Sviluppo (la società
          impegnata nel favorire lo sviluppo economico e imprenditoriale del
          territorio).Habitech, il Distretto Energia Ambiente, è il distretto
          tecnologico creato dalla Provincia Autonoma di Trento e riconosciuto
          dal Ministero dell’Università e della Ricerca allo scopo di favorire
          la nascita di una filiera specializzata in edilizia sostenibile,
          produzione di energia da fonti rinnovabili e tecnologie intelligenti
          per la gestione del territorio.Habitech agisce sul territorio
          trentino, in modo tale da accelerare l’adozione di modelli di business
          basati sulla sostenibilità e di attrarre imprese innovative,
          specializzate in “tecnologie verdi”.
        </p>
      </div>
    </div>
  </div>

  <div class="h-screen bg-red-100 border-black lg:flex flex-wrap">
  
          
        

    

  </div>
  <div class="h-screen">
  <div class="h-2/3 pt-6">
<div class="lg:h-1/5 border flex justify-center items-center lg:text-4xl"> Attrezzature tecnico – informatiche</div>
<div class="h-full  lg:flex">
<div class="lg:h-full  border lg:w-1/3 ">
<div class="lg:w-full lg:h-1/6 flex justify-start px-8 lg:text-3xl lg:font-semibold lg:items-center">
    <h1>Software</h1>
</div>
<div class="lg:h-5/6 flex justify-center">
<ul class="space-y-4 px-8">
    <li>
        n. 16 licenze programma CAD (Autocad varie versioni)
    </li>
    <li>
        n. 5 licenze programma di computi metrici e contabilità dei lavori (Primus)
    </li>
    <li>
        n. 12 licenze programmi di scrittura e fogli elettronici (Office)
    </li>
    <li>
        n. 2 licenza MC4software per l’analisi energetica e documentazione D.Lgs. 311/06
    </li>
    <li>
        n. 1 licenza LI.PAD rilievo impianti illuminazione pubblica
    </li>
    <li>
        n. 1 licenza multiutenti programma di calcolo e di analisi sistemi elettrici Elettrocad
    </li>
    <li>
        n. 2 licenza programma di calcolo impianti fotovoltaici SOLERGO
    </li>
</ul>
</div>

</div>
<div class="lg:h-full  border lg:w-1/3 ">
    <div class="lg:w-full lg:h-1/6 flex justify-start px-8 lg:text-3xl lg:font-semibold lg:items-center">
        <h1>Software</h1>
    </div>
    <div class="lg:h-5/6 flex justify-center">
    <ul class="space-y-4 px-8">
        <li>
            n. 16 licenze programma CAD (Autocad varie versioni)
        </li>
        <li>
            n. 5 licenze programma di computi metrici e contabilità dei lavori (Primus)
        </li>
        <li>
            n. 12 licenze programmi di scrittura e fogli elettronici (Office)
        </li>
        <li>
            n. 2 licenza MC4software per l’analisi energetica e documentazione D.Lgs. 311/06
        </li>
        <li>
            n. 1 licenza LI.PAD rilievo impianti illuminazione pubblica
        </li>
        <li>
            n. 1 licenza multiutenti programma di calcolo e di analisi sistemi elettrici Elettrocad
        </li>
        <li>
            n. 2 licenza programma di calcolo impianti fotovoltaici SOLERGO
        </li>
    </ul>
    </div>
    
    </div>
    <div class="lg:h-full  border lg:w-1/3 ">
        <div class="lg:w-full lg:h-1/6 flex justify-start px-8 lg:text-3xl lg:font-semibold lg:items-center">
            <h1>Software</h1>
        </div>
        <div class="lg:h-5/6 flex justify-center">
        <ul class="space-y-4 px-8">
            <li>
                n. 16 licenze programma CAD (Autocad varie versioni)
            </li>
            <li>
                n. 5 licenze programma di computi metrici e contabilità dei lavori (Primus)
            </li>
            <li>
                n. 12 licenze programmi di scrittura e fogli elettronici (Office)
            </li>
            <li>
                n. 2 licenza MC4software per l’analisi energetica e documentazione D.Lgs. 311/06
            </li>
            <li>
                n. 1 licenza LI.PAD rilievo impianti illuminazione pubblica
            </li>
            <li>
                n. 1 licenza multiutenti programma di calcolo e di analisi sistemi elettrici Elettrocad
            </li>
            <li>
                n. 2 licenza programma di calcolo impianti fotovoltaici SOLERGO
            </li>
        </ul>
        </div>
        
        </div>


</div>
  </div>
  </div>
</body>
