<body class=" w-full pt-32 md:pt-0 xl:pt-0 ">
  <div class="h-max xl:flex md:flex">
    <div class="xl:w-1/3 md:w-2/3  bg-white xl:h-full  md:space-y-24 space-y-4">
      <div class=" xl:px-10 flex flex-col justify-center 2xl:pt-56 pt-0 md:pt-24 px-2 animate-fadeIn">
        <div class="h-48 md:h-42 sm:48 xl:h-56 2xl:h-80 sm:h-24 ">
          <h1
            class="text-3xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-5xl 2xl:font-semibold font-semibold xl:font-semibold pt-2 xl:pt-6 xl:px-8 px-2">
            Siamo</h1>
          <h1
            class="text-3xl  md:text-2xl lg:text-3xl font-semibold xl:text-3xl 2xl:text-5xl {{ animacionClase }} 2xl:font-semibold xl:font-semibold pt-2 xl:px-8 px-2"
            [class.animacion]="animacionDerechaIzquierda">{{ fraseActual }}</h1>
        </div>



        <div class=" xl:space-y-16 xl:px-6  xl:w-full  px-2">

          <p
            class="2xl:pb-12 xl:pb-6 pb-8 lg:text-lg sm:text-sm  2xl:text-2xl text-xl 2xl:font-semibold font-semibold xl:font-semibold">
            Nata della collabotazione di due libei profesionisti e da un gruppo di
            progettisti, con competenze ed esperieze maturate in diversi settori tecnici</p>
          <a routerLink="/società" class="2xl:text-base xl:text-sm md:text-sm  sm:text-sm md:font-semibold">see more about us!</a>
        </div>

      </div>
    </div>

  
    <div class="xl:w-2/3 md:w-1/2 w-screen pt-16 md:pt-0 xl:pt-0  ">
      <div class="mx-1.5 lg:mx-0 bg-white">
        <img src="assets/img/home/img9.jpg" alt=""
          class="h-max w-screen sm:object-none 2xl:object-none xl:object-cover md:object-cover md:h-screen md:w-full  md:m-0 sm:h-96 pb-2">
      </div>
    </div>



  </div>



  <div class="h-screen bg-whatever  lg:pt-12 pt-16">
<div class="h-1/2 2xl:text-4xl lg:text-3xl text-xl flex items-center lg:px-64    px-2 md:px-16 font-light animate-fadeIn">
  <h1>STEA PROGETTO s.r.l. è una società di Engineering nata dalla collaborazione di due liberi professionisti e da un gruppo di progettisti, con competenze ed esperienze maturate in diversi settori tecnici. La società nata nell’anno 2006, risponde in maniera adeguata ai molteplici problemi tecnici e gestionali legati alla ricerca, allo sviluppo e alla progettazione di soluzioni impiantistiche di tipo tradizionale e/o speciale, nonché alle problematiche legate al risparmio energetico e alle fonti rinnovabili.</h1>
</div>
<div class="h-1/2   flex items-center  justify-center">
<div class="lg:h-2/4 h-2/5 md:h-4/5 xl:w-2/4 md:w-3/4 w-4/6 items-start flex-col">
  <div class="h-1/6 w-full  flex justify-center xl:space-x-16 space-x-10 border-b border-black  font-semibold xl:text-lg text-md">
  <h1 class=" w-1/6 flex justify-center" >Founded</h1>
  <h1 class=" w-1/6 flex justify-center">Size</h1>
  <h1 class=" w-1/6 flex justify-center">City</h1>
  <h1 class=" w-1/6 flex justify-center">Country</h1>
  <h1 class=" w-1/6 flex justify-center">Category</h1>

  
</div>
  <div class="h-2/6 w-full    flex justify-center xl:space-x-16  space-x-10 border-b border-black font-normal  xl:text-lg text-xd">
  <h1 class=" w-1/6 flex justify-center" >2006</h1>
  <h1 class=" w-1/6 flex justify-center">S</h1>
  <h1 class=" w-1/6 flex justify-center">Arco</h1>
  <h1 class=" w-1/6 flex justify-center">Italy</h1>
  <h1 class=" w-1/6 flex justify-center">Ingeneering</h1>
</div>


</div>


</div>




  </div>
  <div class="bg-black h-full ">
    <div class="text-white flex  xl:text-4xl text-2xl py-12 justify-center">
      <h1>Servizi</h1>
    </div>

    <div class=" h-full sm:flex sm:flex-wrap   lg:px-4 px-0  ">
      <div
        class="justify-center lg:h-128 h-128 lg:w-1/4 sm:w-1/2 w-screen bg-black border-gray-800 flex-col border-y border"
        *ngFor="let service of servizio">
        <div class="bg-white h-2/6 w-full">
          <img [src]="service.img[0].url" alt="" class="h-full w-full 2xl:object-cover object-cover">
        </div>
        <div class=" text-white   text-xl  flex items-center px-2 h-1/6 flex  w-full">
          <h1>{{service.name}}</h1>
        </div>
        <div class="h-2/6 px-2 text-white 2xl:text-base text-sm">
          <h1>{{service.description[0].text}}</h1>
        </div>
        <div class="h-1/6 flex px-2 items-center text-white text-md">
          <svg width="64px" height="64px" viewBox="-4.96 -4.96 25.92 25.92" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff" stroke-width="0.00016"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M8.64 5l2.5 2.5v.7l-2.5 2.5-.71-.7 1.64-1.65H4v-1h5.57L7.92 5.7l.72-.7z"></path></g></svg>
       <a [routerLink]="['/servizi', service.id]">see more information</a>
        </div>
      </div>


      <div class="bg-black lg:w-1/4 sm:w-1/2 flex justify-center  border border-gray-600 items-center">
        <div class=" lg:h-1/2 sm:w-1/2 flex h-128 items-center justify-center">
          <div class="">
            
            <button class="bg-white py-3 xl:px-8 px-16 rounded-md"><a routerLink="/contatti">Contact Us!</a></button>
          </div>


        </div>

      </div>

    </div>




  </div>
</body>